<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        img{
            width: 400px;
            height: 100px;
        }
    </style>
</head>
<body>
    <header><img src="/img/hehe.jpg" alt="图片不见了"/></header>
    {{{body}}}
</body>
</html>